# List

In [ ]:
##
name="arun"
age=12
location="mumbai"

In [ ]:
name="Kumar"
age=25
location="delhi"

In [ ]:
#How avoide above

In [ ]:
a=[["arun",12,"mumbai"],["kumar",25,"delhi"]]

In [ ]:
a=["arun",12,"mumbai"]# issue into min max and sorted function

In [11]:
a=["arun","12","mumbai"]

In [3]:
#type isinstance len min max sorted

In [16]:
print(type(a))

<class 'list'>

In [6]:
print(isinstance(a,list))

True

In [7]:
print(len(a))

3

In [13]:
print(min(a))

12

In [14]:
print(max(a))

mumbai

In [12]:
print(sorted(a))

['12', 'arun', 'mumbai']

In [17]:
print(a[::-1])#for reverse

['mumbai', '12', 'arun']

In [18]:
a=[1,2,3,4,5,6]

In [19]:
a.append(10)# default add to last position
print(a)

[1, 2, 3, 4, 5, 6, 10]

In [20]:
a.insert(2,"hii")# adding particular position
print(a)

[1, 2, 'hii', 3, 4, 5, 6, 10]

In [21]:
a.remove("hii")#remove the base upon value
print(a)

[1, 2, 3, 4, 5, 6, 10]

In [22]:
del a[0]# delete the base upon position
print(a)

[2, 3, 4, 5, 6, 10]

In [23]:
a.insert(0,"hi")
print(a)

['hi', 2, 3, 4, 5, 6, 10]

In [26]:
b=a.pop(1)#default remove from last potion value and particular positon 
print(a)
print(b)

['hi', 3, 4, 5]
2

In [27]:
#Q
a=["arun","kumar","kishore"]
#get first list first word - a
#get first list last word - n
#get first list first word - k
#get first list last word - e

In [41]:
#get first list first word - a
b=(a[0])
print(b[0])

a

In [42]:
#get first list last word - n
b=(a[0])
print(b[-1])

n

In [43]:
#get first list first word - k
b=(a[2])
print(b[0])

k

In [44]:
#get first list last word - e
b=a[2]
print(b[-1])

e

In [47]:
#also get list as input from user and check the data types
a=input("enter here: ")
print(type(a))

enter here: ['12', 'arun', 'mumbai']
<class 'str'>